body {
  margin: 0px;
}

.index {
  min-height: 1500px;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  line-height: 1.6;
}

#content {
  margin-top: 50px;
}

.top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;

  padding-left: 30px;
  padding-right: 30px;
}

.header {
  max-width: 860px;
  margin: .5rem auto 0 auto;
}

footer {
  max-width: 860px;
  margin: auto;
}

.menu {
  font-size: 18px;
  text-align: center;
}

.menu li {
  display: inline-block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #4183C4;
}

ul:first-child {
  margin-top: 0;
}